/*comentario de prueba*/
body{
    background-color: rgb(41, 46, 92);
    margin: 0;
    margin-top: 0%;
}
a{
    color: black;
    text-decoration: none; /* no underline */
}

#muro{
    background-color: white;
    height: 300px;
    width: 100%;
}

#foto{
    background-color: aqua;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-style: solid;
    border-color: black;
    position: relative;
    margin-left: 50px;
    margin-bottom: 50px;
    margin-top: -50px;
}

#navegacion{
    height: 50px;
    width: 100%;
    background-color: rgb(10, 13, 26);
    color: white;
    text-align: center;
    margin-top: 0%;
    position: fixed;
    z-index: 1;
    
}

#navegacion a{
    float: left;
    color: white;
    text-decoration: none;
    text-align: center;
    height: 100%;
    margin-right: 6%;
    padding: 14px 16px;
    
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;  
}

#navegacion div{
    margin: auto;
    width: 800px;
}
#nombre{
    margin-left: 10px;
    margin-bottom: 50px;
    margin-top: -50px;
}
#cont{
    height: 100%;
    width: 50%;
    /* margin: auto; */
    /* background-color: black; */
    color: wheat;
    /* margin-right: 0; */
    /* text-align: center; */
    /* margin-top: -10.075%; */
}
#user{
    width: 25%;
    height: 100%;
    background-color: yellow;
    /* position: relative; */
    /* margin: 0%; */
    /* float: left; */
}
#extra{
    background-color: yellow;
    /* float: right; */
    width: 25%;/*
    height: 100%;
    position: relative;
    margin: 0%;
    float: right;
    margin-top: 0%; */
}
.columnas {
    position:relative;
    float: left;
    width: 25%;
    margin-bottom: 50px;
}
.likes{
    border-radius: 8px;
    padding: 10px;
    background-color: transparent;
    color: white;
    margin-left: 9px;
}
.likes option{
    background-color: black;
    color: white;
}
#filtros{
    padding: 10px;
}
#t-extra{
    text-align: center;
}

.sec-inicial{
    padding-top: 80px;
    min-height: 160px;
    margin: auto;
    background-color: black;
    color: white;
    text-align: center;
}

.titulos{
    color: rgb(112, 245, 23);
    font-style: italic;
}

#footer{
    /* position: absolute; */
    bottom: 0; 
    width: 100%;
    height: 3em;
    /* padding: 10px; Some padding */
    text-align: center; /*Center text*/
    background: rgb(39, 39, 65); /*Grey background*/
}

#footer a{
    color: black;
    font-size: large;
    font-style: italic;
    text-decoration: none; /* no underline */
}
#footer hr{
    width: 80%;
    border: 1px solid rgb(20, 20, 20);
}

/*/##/Test/#/Temporal/##/*/
.cuerpo{
    /*background-color: aqua;/**/
    width: 100%;
    height: 100%;
    text-align: center;
}
.fila{
    max-width: 55em;
    margin: auto;
    padding-bottom: 30px;
}
.fila::after{
    /*background-color: antiquewhite;/**/
    content: "";
    display: table;
    clear: both;
}
.columna{
    background-color: rgb(39, 39, 65);
    float: left;
    width: fit-content;
    min-width: 23em;
    min-height: 33.4em;
    padding: 30px;

    /*border: 3px dashed black;/*Borde*/
}

#lugar, #map{
    width: 376px;
    height: 250px;
    background-color: white;

    border: 3px solid white; /*Borde*/
}
#map iframe{
    width: 376px;
    height: 250px;
    border: 0;
}

hr.vertical{
    float: left;
    border:         none;
    border-left:    4px solid rgb(33, 33, 43);
    height:         36em;
    width:          0px;  
}

#Inicio-sesion{
    cursor: pointer;
    margin-right: 70px;
}   

/* codigo prueba del pop up para iniciar sesion */

.popup .overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background:rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}

 .popup .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #fff;
    width: 850px;
    height: 520px;
    z-index: 2;
    /* text-align: center; */
    padding: 20px;
    box-sizing: border-box;
 }

 .popup .close-btn{
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 30px;
    width: 30px;
    height: 30px;
    background: #222;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
 }

 .popup.active .overlay{
    display: block;
 }
 .popup.active .content{
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
 }

/* fin del codigo de prueba */

#InS{
    float: left;
}

a.InSRS:hover{color:blue;}

#btn-editarPerfil{
    margin-top: -150px;
    float: right;
    margin-right: 40px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}